.circle-cursor {
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  border: 1px solid $saffron;
  opacity: 0.8;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
  z-index: 2;
}

.cursor-down {
  opacity: 1;
  background: $saffron;
  transform: scale(0.8);
}

.cursor-up {
  transform: scale(1);
}
